





.env
.coverage
.vscode

*__pycache__/
**/__pycache__
*.py[cod]
*$py.class

*.pyc

*.log
local_settings.py


media/
static/
db.sqlite3

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.eggs